html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    initial-letter: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
}

h2 {
    padding-bottom: 4px;
    border-bottom: 1px solid lightgrey;
}

h3, h4, h5, h6 {
    margin-bottom: 0px;
}

body {
    font-family: 'PT Serif';
    font-size: 17px;
}

pre {
    border: 1px solid lightgrey;
    border-radius: 6px;
    overflow-x: auto;
    padding: 8px 12px;
    margin-bottom: 20px;
}

code {
    font-family: 'Roboto Mono';
    font-size: 15px;
}

/* Site nav */

.topnav {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.topnav-home {
    font-size: 24px;
}

a.topnav-home:link {
    text-decoration: none;
}

.topnav-right {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

.topnav-rightmost {
    padding-right: 0px;
}

/* Shared content */

.centered {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

#content {
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

/* List pages */

.list-meta {
    float: right;
    color: grey;
}

.list-list {
    list-style-type: none;
}

.list-link {
    font-size: 22px;
}

.list-summary {
    padding-left: 20px;
    color: #444;
    font-size: 16px;
    padding-bottom: 20px;
}

.list-img {
    height: 90%;
    width: auto;
}

.list-img-row {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1.4fr 1.4fr 2.1fr;
}

@media only screen and (max-width: 700px) {
    .list-img-row {
      padding-top: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}

/* Single pages */

.post-date {
    color: #444;
    font-size: 16px;
}

/* Footnotes */

#content {
    counter-reset: footnotes;
}

a[aria-describedby="footnote-label"] {
    counter-increment: footnotes;
    text-decoration: none;
    color: inherit;
    cursor: default;
    outline: none;
}

a[aria-describedby="footnote-label"]::after {
    content: "[" counter(footnotes) "]";
    font-size: 0.65em;
    margin-left: 2px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a[aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
}

footer :target {
    background: pink;
}

footer {
    border-top: 1px solid lightgrey;
    margin: 30px 15px 0px 15px;
    padding-top: 10px;
    font-size: 15px;
}

/* Figures */

figure {
    margin-top: 35px;
    margin-bottom: 25px;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin-top: 8px;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color: #444;
}

figure.wide {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: top;
}

.padded {
    padding: 15px;
}

.wide img {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.wide figcaption {
    font-style: normal;
    font-size: 17px;
    text-align: left;
    padding-right: 30px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: auto;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

figure.art {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    vertical-align: top;
}

.art img {
    width: 60%;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.art figcaption {
    font-style: normal;
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    margin-top: 10px;
    margin-left: 20px;
    border-left: 1px solid lightgrey;
}

@media only screen and (max-width: 700px) {
    figure.art {
        flex-direction: column;
    }

    .art img {
        width: 100%;
    }

    .art figcaption {
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-left: 10px;
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        border-left: 0px solid lightgrey;
        border-radius: 6px;
    }
}

/* Quotes */

blockquote {
    padding-left: 10px;
    margin-left: 0px;
    color: #333;
    border-left: 3px solid lightgrey;
}

/* Aside */

.post-head aside {
    float: right;
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding-right: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.post-head ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.post-head li ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    .post-head aside {
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media only screen and (max-width: 700px) {
    .grid-2 {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
    }
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.thumbnail-grid-item {
  margin: 10px;
  margin-bottom: 5px;
}
